*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

main{
    background-color: #000000;
}

.flex{
    display: flex;
}

section.top-buttons{
    text-align: end;
    height: 50px;

}

.top-buttons>button{
    font-size: .5rem;
    font-weight: bold;
    padding: 3px;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    background-color: rgba(141, 138, 138, 0.5)
}

section.webcams{
    overflow: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: calc(100vh - 100px);
    padding: 0 6rem;

}

div.webcam{
    position: relative;
    width: 130px;
    height: 80px;
    margin: 2px;
    background-color: yellowgreen;

}

.name{
    background-color: rgba(141, 138, 138, 0.5);
    padding: 2px;
    border-radius: .2rem;
    position: absolute;
    left: 0;
    bottom: .1rem;
    color: #ffffff;
    font-size: .6rem;
    font-weight: 900;

}

footer{
    justify-content: space-between;
    background-color: #222222;
    height: 50px;
}

.start-icons{
    height: 100%;
    width: 15%;
    background-color: tomato;
}

.middle-icons{
    height: 100%;
    width: 40%;
    background-color: tomato;
}

.end-meeting{
    height: 100%;
    width: 15%;
    background-color: tomato;
}